{% extends 'home_page/main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/hot-featured-new-shared.css' %}" type = "text/css">
<script src="{% static 'scripts/hot-featured-new-shared.js' %}"></script>

<div class = "subheader mx-auto flex-r flex-centre">
    <a class = "subheader-text navbar-text-item-current navbar-text-item-current-orange" href = "{% url 'featured' %}">
        Featured
        <div class = "hover-underline hover-underline-orange"></div>
    </a>
</div>

<div class = "all-items-background flex-r flex-centre" id = "page-top">
    {% for product in products %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="items-background flex-c">
                <div class = "thumbnail-background">
                    <button name="view" value="{{ product.id }}" class = "redirect-button">
                        <img class="thumbnail" src="{{ product.image.url }}"> <!-- Make this image correct -->
                    </button>
                    <button class="btn btn-outline-secondary add-btn update-cart" data-product={{ product.id }} data-action="addc">Add to Cart</button>
                </div>
                <p class="item-name">{{ product.product_name }}</p>
                {% if 1 != 1 %} <!-- Change to check condition for discounted price -->
                    <p class = "product-price item-price-not-discounted">S${{ product.price|floatformat:2 }}</p> <!-- Make this normal price -->
                {% elif 1 != 1 %} <!-- Change to Out of Stock check -->
                    <p class = "product-price out-of-stock">Out of Stock</p>
                {% else %}
                    <div class = "flex-r">
                        <p class = "product-price">S${{ "5.00" }}</p> <!-- Make this Discounted price -->
                        <p class = "product-original-price"><del>S${{ product.price|floatformat:2 }}</del></p> <!-- Make this normal price -->
                    </div>
                {% endif %}
            </div>
        </form>
    {% endfor %}
</div>

<p class = "flex-r flex-centre thats-all">That's all for now, check back later for more!</p>
<button onclick = "goToTop()" class = "mx-auto flex-c back-to-top"><u><i>Back to Top</i></u></button>

<script src="{% static 'scripts/cartinfo.js' %}"></script>

{% endblock content %}