{% extends 'home_page/main.html' %}
{% load static %}
{% block content %}

<div class="row" xmlns="http://www.w3.org/1999/html">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" height="360" width="500" src="{{ product.image.url }}">
        <div class="box-element product">
            <h6><strong>{{ product.product_name }}</strong></h6>
            <h6>quantity :{{ product.quantity }}</h6>
            <hr>

            <button  data-product={{ product.id }} data-action="add" class="btn update-cart">Add to Cart</button>
            <form action="" method="POST">
                {% csrf_token %}
                <button name="view" value="{{ product.id }}" >View</button>
            </form>

            <h4 style="display: inline-block; float: right"><strong>${{ product.price|floatformat:2 }}</strong></h4>
            
        </div>
    </div>
    {% endfor %}
    <script src="{% static 'scripts/frontpage.js' %}"></script>
    </div>
{% endblock content %}