{% extends 'home_page/main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type = "text/css">
    <div class = "main-body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="details">
                <p class = "login-text">Login</p>
                <input name = "username" placeholder="Email" class = "email">
                <img src = "{% static 'images/Shared/email.svg' %}" class = "login-icons">
                <input name = "password" type="password" placeholder="Password" class = "password">
                <img src = "{% static 'images/Shared/lock-24px.svg' %}" class = "login-icons">
                <a class = "forget-password" href = "{% url 'forget_password' %}"><p class = "forget-password"><i><u>Forgot your password?</u></i></p></a>
                {% for message in messages %}
                    <p class = "error-message">{{ message }}</p>
                {% endfor %}
            </div>
            <div class="submit-buttons">
                <a href="{% url 'register' %}" class = "signup">Signup</a>
                <button class = "login">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}