
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>That Aquarium</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type = "text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script>
            var user = "{{ request.user }}"
        </script>
{#        <link href="https://fonts.googleapis.com/css2?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">#}
        <meta name="viewport" content="width=device-width, initial-scale = 1, maximum-scale = 1, minimum-scale =1"/>

    </head>
    
    <body>
        <div class = "back-shadow"></div>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-background">
            <a class="navbar-brand logo-a" href="{% url 'front_page' %}">
                <img id = "logo" src="{% static 'images/Shared/Logo-final.png' %}"> <!-- Until I can figure out how to make the logo svg render properly, it will be a png for now -->
            </a>
            <button class="navbar-toggler navbar-collapsed-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link navbar-text-item-current" id = "hot-deals" href="{% url 'hot'%}">
                            Hot Deals
                            <div class = "hover-underline hover-underline-1"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text-item-normal" id = "featured" href="{% url 'featured'%}">
                            Featured
                            <div class = "hover-underline hover-underline-2"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text-item-normal" id = "new-arrivals" href="{% url 'new'%}">
                            New Arrivals
                            <div class = "hover-underline hover-underline-3"></div>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link navbar-text-item-normal" id = "categories" href="{% url 'new'%}">
                            Categories
                            <div class = "hover-underline hover-underline-4"></div>
                        </a>
                    </li> -->
                    <!-- Thats for Categories which is kinda not useful as it leads to search but I guess can be uncommented to be used -->
                </ul>
                <div class="ml-auto">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link navbar-text-item-normal" id = "t-and-c" href="{% url 'terms'%}">
                                T&C
                                <div class = "hover-underline hover-underline-5"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text-item-normal" id = "faq" href="{% url 'FAQ'%}">
                                FAQ
                                <div class = "hover-underline hover-underline-6"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text-item-normal" id = "about-us" href="{% url 'about'%}">
                                About Us
                                <div class = "hover-underline hover-underline-7"></div>
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link search-text navbar-text-item-normal" id = "search-text" href = "{% url 'search' %}">
                                Search
                                <div class = "hover-underline hover-underline-8"></div>
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link cart-text navbar-text-item-normal" id = "cart-text" href = "{% url 'cart' %}">
                                Cart
                                <div class = "hover-underline hover-underline-9"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class = "search-and-cart">
                <div>
                    <input class="search-bar" placeholder="Search" aria-label="Search">
                    <button class="submit-button" type="submit">
                        <img src = "{% static 'images/Shared/search-24px.svg' %}">
                    </button>
                </div>
                <a href="{% url 'cart' %}" class = "right-of-search-bar cart">
                    <img src="{% static 'images/Home Page/cart.svg' %}" class = "nav-images cart-image">
                </a>
            </div>
            <div class = "account-back">
                <div class = "account-top">
                    <div>
                        <a href="{% url 'account' %}" class = "account">
                            <img src="{% static 'images/Home Page/account_circle-24px.svg' %}" class = "nav-images right-of-search-bar account-image">
                        </a>
                    </div>
                    <div class = "account-text">
                        {% if not request.user.is_authenticated %}
                            <p class = "account-line-1 account-line"><i>Hi, Guest!</i></p>
                            <p class = "account-line-2 account-line"><u><i>Login/Signup</i></u></p>
                        {% else %}
                            <p class = "account-line-1 account-line"><i>Hi, {{ request.user.first_name }}!</i></p>
                            <p class = "account-line-2 account-line"><u><i>Your Account</i></u></p>
                        {% endif %}
                    </div>
                    <img src = "{% static 'images/Shared/expand_more-24px.svg' %}" class = "dropdown">
                </div>
                <div class = "account-options">
                    <a class = "account-options-text" href="{% url 'orders'%}">Orders</a>
                    <a class = "account-options-text" href="{% url 'wishlist'%}">Wishlist</a>
                    <a class = "account-options-text" href="{% url 'membership'%}">Membership</a>
                    <a class = "account-options-text" href="{% url 'address'%}">Addresses</a>
                    <a class = "account-options-text" href="{% url 'payment'%}">Payment Methods</a>
                    <a class = "account-options-text" href="{% url 'settings'%}">Settings</a>
                    <a class = "account-options-text" >cart  {{ cartItems }}</a>
                    <!-- Change the condition to check whether user has login or not once done -->
                    {% if not request.user.is_authenticated %}
                        <a class = "account-options-text account-options-text-last" href="{% url 'login'%}">Sign In</a>
                    {% else %}
                        <a class = "account-options-text account-options-text-last" href="{% url 'logout'%}">Log out</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block content %}
        
        {% endblock content %}
    </body>
        
</html>