{% extends 'home_page/main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type = "text/css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}" type = "text/css">
    <script src = "{% static 'scripts/signup.js' %}"></script>
    <div class = "main-body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="details">
                <p class = "login-text">Welcome!</p>
                {{ form.first_name }}
                <img src = "{% static 'images/Signup/supervisor_account-24px.svg' %}" class = "login-icons">
                {{ form.username }}
                <img src = "{% static 'images/Shared/email.svg' %}" class = "login-icons">
                {{ form.password1 }}
                <img src = "{% static 'images/Shared/lock-24px.svg' %}" class = "login-icons">
                {{ form.password2 }}
                <img src = "{% static 'images/Shared/lock-24px.svg' %}" class = "login-icons">
                <p class = "password-footnote">Password Requirements - 8 characters long, 1 uppercase, 1 lowercase and 1 number</p>
            </div>
            <div class = "hidden-errors error-5">
                {% if username_error != "" %}
                    {{ username_error }}
                {% elif first_name_error != "" %}
                    {{ first_name_error }}
                {% else %}
                    {{ form.errors }}
                {% endif %}
            </div>
            <div class="submit-buttons">
                <a href="{% url 'login' %}" class = "signup">
                    Return to Login
                    <img src = "{% static 'images/Signup/keyboard_backspace-24px.svg' %}" class = "back-arrow">
                </a>
                <button name="Create User" class = login>Sign Up!</button>
            </div>
        </form>
    </div>
{% endblock content %}