{% extends 'home_page/main.html' %}
{% load static %}

{% block content %}

    <link href = "{% static 'css/search.css' %}" rel = "stylesheet" type = "text/css">
    <script src = "{% static 'scripts/search.js' %}"></script>

    <div>
        <input class="search-bar search-bar-search-page" placeholder="Search" aria-label="Search">
        <button class="submit-button submit-button-sub" type="submit">
            <img src = "{% static 'images/Shared/search-24px.svg' %}">
        </button>
    </div>
    
    <div class = "search-content">
        <div class = "categories-options">
            <form class = "filter-form">
                <p class = "categories-header">Search Filter</p>
                <div class = "filter-inner">
                    <div class = "specific-categories specific-categories-0">
                        <div class = "specific-main-categories">
                            <input type = "checkbox" id = "categories-filter-0" name = "categories-filter" class = "categories-filter categories-filter-0" checked="checked">
                            <label for = "categories-filter-0" class = "categories-filter-label">
                                <div class = "label-text label-text-0">
                                    <p class = "label-actual-text label-actual-text-1">All Categories</p>
                                    <p class = "label-actual-text label-actual-text-2"></p>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class = "all-categories-box">
                        {% for category in categories %}
                            {% if category.1|length != 0 %}
                                <div class = "specific-categories">
                                    <div class = "specific-main-categories">
                                        <input type = "checkbox" id = "categories-filter-{{ category.2 }}" name = "categories-filter" class = "categories-filter categories-main-filter categories-filter-{{category.2}}" checked="checked">
                                        <label for = "categories-filter-{{ category.2 }}" class = "categories-filter-label">
                                            <div class = "label-text label-text-{{ category.2 }}">
                                                <p class = "label-actual-text label-actual-text-1">{{ category.0 }}</p>
                                            </div>
                                        </label>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" class = "expandable"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"/></svg>
                                    </div>
                                    {% for subcategory in category.1 %}
                                        <div class="specific-sub-categories-for-hiding">
                                            <div class = "specific-sub-categories">
                                                <input type = "checkbox" id = "categories-filter-{{category.2}}-{{subcategory.1}}" name = "categories-filter" class = "categories-filter sub-categories-filter categories-filter-{{category.2}}-{{subcategory.1}}" checked="checked">
                                                <label for = "categories-filter-{{category.2}}-{{subcategory.1}}" class = "categories-filter-label">
                                                    <div class = "label-text label-text-{{ category.2 }}">
                                                        <p class = "label-actual-text label-actual-text-1">{{ subcategory.0 }}</p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class = "specific-categories">
                                    <div class = "specific-main-categories">
                                        <input type = "checkbox" id = "categories-filter-{{ category.2 }}" name = "categories-filter" class = "categories-filter categories-filter-{{category.2}}" checked="checked">
                                        <label for = "categories-filter-{{ category.2 }}" class = "categories-filter-label">
                                            <div class = "label-text label-text-{{ category.2 }}">
                                                <p class = "label-actual-text label-actual-text-1">{{ category.0 }}</p>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class = "apply-changes">Apply</div>
                </div>
            </form>
        </div>
        <div class = "search-results">
            
            {% if results.0 == "No Search Results Found" %}
                <p class = "no-search-result">No Search Results Found</p>
            {% else %}
                {% for result in results %}
                    <!-- Please update the variabels for product image, name, price and description once the backend is done -->
                    <div class = "item"> <!-- Make this redirect to product page when ready -->
                        <img src='{{ item.product.imageURL }}' class = "item-images">
                        <div class = "item-text">
                            <p class = "item-name">{{ "Product Name" }}</p>
                            {% if 1 != 1 %} <!-- Change to check condition for discounted price -->
                                <p class = "item-price item-price-not-discounted">S${{ "5.00" }}</p>
                            {% elif 1 != 1 %} <!-- Change to Out of Stock check -->
                                <p class = "item-price out-of-stock">Out of Stock</p>
                            {% else %}
                                <div class = "flex-r">
                                    <p class = "item-price">S${{ "5.00" }}</p>
                                    <p class = "item-original-price"><del>S${{ "10.00" }}</del></p>
                                </div>
                            {% endif %}
                            <p class = "item-description">{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu sem rutrum est pretium tincidunt sollicitudin sit amet elit. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed mi non risus pharetra egestas. In vel lacus imperdiet, vestibulum eros vel, ornare nisl. Mauris scelerisque eros nec augue accumsan, non accumsan odio lobortis. Donec tempus, nunc ut pellentesque feugiat, nisi risus placerat quam, vel posuere justo velit a diam. Pellentesque est turpis, rutrum eu turpis vitae, eleifend fermentum tellus. Nam ac elit at eros consequat tempor. Sed id orci non lorem porttitor lacinia. Nulla ac egestas turpis. Pellentesque in tincidunt sapien, nec aliquam est." }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}