{% extends 'home_page/main.html' %}
{% load static %}

{% block content %}
    <link href = "{% static 'css/cart.css' %}" rel = "stylesheet" type = "text/css">
    <link href = "{% static 'css/wishlist.css' %}" rel = "stylesheet" type = "text/css">
    <script src = "{% static 'scripts/wishlist.js' %}"></script>

    <div class = "subheader mx-auto">
        <a href = "{% url 'cart' %}" class = "cart navbar-text-item-normal navbar-text-item-normal-orange">
            Cart & Checkout
            <div class = "hover-underline hover-underline-orange"></div>
        </a>
        <a href = "{% url 'wishlist' %}" class = "wishlist navbar-text-item-current navbar-text-item-current-orange">
            Wishlist
            <div class = "hover-underline hover-underline-orange"></div>
        </a>
    </div>

    <div class = "cart-body mx-auto">
        <div class = "cart-region">
            {% if items|length != 0 %}
                {% for item in items %}
                    <div class = "cart-item">
                        <img src='{{ item.product.imageURL }}' class = "item-images">
                        <div class = "item-text">
                            <p class = "item-name">Item Name</p>
                            <p class = "item-description">Item Description</p>
                        </div>
                        <div class = "item-right-side-elements">
                            <div class = "cart-buttons">
                                {% if request.user.is_authenticated %}
                                    <button class = "save-later">Add to Cart</button>
                                {% endif %}
                                <button class = "btn update-cart remove-from-cart" data-action="deletew" data-product={{ item.product.id }}>
                                    <img src = "{% static 'images/Checkout/remove_circle_outline-24px.png' %}" class = "remove-image"> <!-- png until i can find a way to make it svg -->
                                    Remove
                                </button>
                            </div>
                            <div class = "item-right-side-bottom-elements">
                                <div class = "quantities">
                                    <p class = "quantity-text">Quantity:</p>
                                    <button  data-product={{ item.product.id }} data-action="removew" class="btn update-cart change-quantity change-quantity-minus">-</button>
                                    <p class = "item-quantity">{{ item.quantity }}</p>
                                    <button  data-product={{ item.product.id }} data-action="addw" class="btn update-cart change-quantity change-quantity-add">+</button>
                                </div>
                                <div class = "divider"></div>
                                <p class = "item-total">S${{ item.get_total }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class = "no-items">There's nothing in your wishlist right now. Browse our shop and add some stuff!</p>
            {% endif %}
        </div>
        
    </div>
    <script src="{% static 'scripts/frontpage.js' %}"></script>
{% endblock content %}