/*
main css is like general format for all pages this is used so that you don't have to
repeat the code for things like nav bar and stuff

*/
body {
    font-family: 'Raleway', sans-serif;
}

.navbar-background {
    background: linear-gradient(#ff7054, #ff9b58) !important;
}

.navbar-text-item-normal, .navbar-text-item-current, .navbar-text-item-normal:focus, .navbar-text-item-current:focus {
    font-weight: 600;
    transition: 0.2s ease;
    margin: 0vw 40px 0vw 0vw;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.hover-underline-current {
    width: 100%!important;
    margin-left: 0%!important;
}

@media (max-width: 552px) {

    .navbar-collapsed-button {
        margin-right: 400px!important;
        margin-top: 75px;
    }

    .logo-a {
        margin-left: calc(-47px + 50vw - 93.75px)!important;
        /* margin-top: -60px!important; */
        transform: scale(1)!important;
    }

    .account-back {
        margin-top: 75px;
    }

    .account-back:hover {
        margin-top: 290px!important;
    }

    .navbar-collapsed-button {
        margin-top: 20px!important;
    }

    .account-back:hover {
        margin-top: 75px!important;
    }

}

@media (min-width: 553px) and (max-width: 991px) {
    
    .account-back:hover {
        margin-top: 0px!important;
    }
    
}


@media (max-width: 991px) {

    .navbar-collapsed-button {
        margin-right: 200px;
    }

    .search-and-cart {
        display: none!important;
    }

    #hot-deals, #featured, #new-arrivals {
        text-align: center;
        margin: 0px!important;
    }

    .account-back {
        top: 15px;
    }

    .navbar-text-item-current, .navbar-text-item-normal {
        display: inline-block;
    }

}

@media (min-width: 992px) {

    .search-text, .cart-text {
        display: none;
    }

}

@media (min-width: 992px) and (max-width: 1120px) {

    #new-arrivals {
        display: none;
    }

}

@media (max-width: 1240px) {

    #categories {
        display: none;
    }

}

@media (max-width: 1380px) {

    .search-bar {
        display: none
    }

    .submit-button {
        margin-left: 0px!important;
    }

    .cart-image {
        margin: 0vw 0px 0vw 20px!important;
    }

    .navbar-text-item-normal, .navbar-text-item-current, .navbar-text-item-normal:focus, .navbar-text-item-current:focus {
        margin: 0vw 0px 0vw 0vw;
    }

}

@media (max-width: 1475px) {

    .navbar-text-item-normal, .navbar-text-item-current, .navbar-text-item-normal:focus, .navbar-text-item-current:focus {
        margin: 0vw 10px 0vw 0vw;
    }

}

@media (min-width: 1475px) and (max-width: 1625px) {

    .navbar-text-item-normal, .navbar-text-item-current, .navbar-text-item-normal:focus, .navbar-text-item-current:focus {
        margin: 0vw 20px 0vw 0vw;
    }

    #hot-deals {
        margin-left: 10px;
    }

}

.navbar-collapsed-button, .navbar-collapsed-button:focus {
    border: none;
    outline: none;
}

.navbar-text-item-normal {
    color: black !important;
}

.navbar-text-item-normal:hover {
    color: white !important;
}

.navbar-text-item-current {
    color: white !important;
}

.navbar-text-item-normal-orange {
    color: black !important;
}

.navbar-text-item-normal-orange:hover {
    color: #ff854f !important;
}

.navbar-text-item-current-orange {
    color: #ff854f !important;
}

/* forces underline to not animate */
.navbar-text-item-current-orange > div { 
    width: 100%!important;
    margin-left: 0%!important;
}

#hot-deals {
    margin-left: 20px;
}

.hover-underline {
    margin-left: 50%;
    width: 0%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 0.2s ease;
}

.hover-underline-orange {
    background-color: #ff854f!important;
}

.navbar-text-item-current:hover > div, .navbar-text-item-normal:hover > div {
    width: 100%;
    margin-left: 0%;
}

.submit-button, .submit-button:hover, .submit-button:focus {
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: -50px;
    z-index: 2;
}

.search-bar {
    border-radius: 50px;
    font-size: 0.75rem;
    width: calc(10vw + 33px);
    height: 50px;
    outline: none;
    border: none;
    padding-left: 25px;
    transition: 0.2s ease;
}

.search-bar:hover, .search-bar:focus {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.4);
}

.cart-image {
    transform: scale(1.5);
    margin: 12.5px 10px 0vw 40px;
    transition: 0.2s ease;
    animation: cart-image-hover-unhover 0.1s forwards;
}

@keyframes cart-image-hover {
    0% {filter: invert(1);}
    75% {filter: drop-shadow(0px 1px 1px white) invert(1);}
    100% {filter: drop-shadow(0px 1px 2px white) invert(1);}
}

@keyframes cart-image-hover-unhover {
    0% {filter: drop-shadow(0px 1px 2px white) invert(1);}
    75% {filter: drop-shadow(0px 1px 1px white) invert(1);}
    100% {filter: invert(1);}
}

.cart-image:hover {
    animation: cart-image-hover 0.1s forwards;
}

.nav-images {
    color: white;
    filter: invert(1);
    transition: 0.3s ease;
}

.account-image {
    transform: scale(1.75);
    margin: 5px 5px 5px 25px !important;
}

.account-back {
    width: 200px;
    border-radius: 20px;
    height: 65px;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 0;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.0);
    transition: 0.3s ease;
    position: absolute;
    margin-left: calc(100vw - 230px);
    z-index: 3;
}

.account-top {
    justify-content: left;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: -15px;
    padding-top: 15px;
    background-color: rgba(255, 133, 79, 0);
    transition: 0.2s ease;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.account-line {
    margin: 0px!important;
    font-size: 0.75rem;
    padding-left: 15px;
}

.dropdown {
    margin-left: 4px;
    margin-top: 4px;
    transition: 0.3s ease;
    width: 24px;
    height: 24px;
}

.account-back:hover > div > img, .dropdown:hover {
    transform: rotate(180deg);
}

.account-back:hover {
    background-color: rgba(255, 255, 255, 1.0);
    height: 280px;
    margin-top: 215px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4);
}

.account-back:hover > div > div > a > img {
    filter: invert(0);
}

.account-back:hover > .account-options {
    margin-top: 0px;
    opacity: 1;
    height: 210px;
}

.account-back:hover ~ .back-shadow {
    width: 100%;
    height: 100%;
    margin-left: -16px;
}

.account-back:hover > div > a {
    height: 40px;
    padding-top: 7px;
    margin-left: 0px;
}

.account-back:hover > div > .account-options-text-last {
    height: 50px !important;
}

.right-nav-items {
    margin-right: 210px;
}

.account-options {
    height: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    opacity: 0;
    transition: 0.2s ease;
    overflow: hidden;
}

.account-options-text {
    height: 0px;
    padding-left: 25px;
    font-size: 0.75rem;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0px;
    color: black;
    margin-left: 500px;
}

.account-options-text:hover, .account-top:hover {
    background-color: rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #ff854f;
}

.account-options-text-last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: red!important;
}

.search-and-cart {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

.back-shadow {
    position: fixed;
    width: 0vw;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    overflow: hidden;
}

.nav-item {
    text-align: center!important;
}

.account-line-1 {
    overflow: hidden;
    white-space: nowrap;
}

.account-text {
    width: 110px;
}