.search-bar-header {
    display: none!important;
}

.submit-button, .submit-button:hover {
    margin-left: 0px;
}

.search-bar-search-page {
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 35px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.submit-button-sub {
    margin-left: -50px!important;
    margin-top: 0px!important;
}

.cart {
    margin-top: -10px;
}

@media (max-width: 1380px) {

    .cart-items-counter {
        margin-top: 0px!important;
        margin-left: 32px;
    }

    .cart-image {
        margin: 12px 0px 0vw 20px!important;
    }

}

.search-content {
    display: flex;
    flex-direction: row;
}

.filter-form {
    margin: 0;
}

.categories-options {
    width: 25vw;
    margin-left: 2.5vw;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-top: 40px;
    height: fit-content;
}

.categories-header {
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 25px 0px 25px 0px;
    font-weight: 700;
    font-size: 1.125rem;
}

.specific-main-categories, .specific-sub-categories-for-hiding:hover, .specific-sub-categories-for-hiding, .specific-main-categories:hover {
    color: #ff854f;
    font-weight: 600;
    transition: 0.2s ease;
}

.specific-sub-categories-for-hiding:hover, .specific-main-categories:hover {
    color: #ff854f!important;
    fill: #ff854f!important;
}

.specific-main-categories:hover > input {
    border-color: #ff854f;
}

.specific-sub-categories-for-hiding:hover > .specific-sub-categories > input {
    border-color: #ff854f;
}

.specific-categories {
    padding: 0px 30px 0px 40px;
    transition: 0.2s ease;
}

.specific-main-categories, .specific-sub-categories {
    display: flex;
    flex-direction: row;
    margin: 0px auto 0px auto;
    height: 35px;
    font-size: 1rem;
}

.specific-sub-categories {
    font-size: 0.8125rem;
    margin-left: 20px!important;
    /* transition: 0.2s ease; */
}

.specific-sub-categories-for-hiding {
    display: none;
    margin: 0px -30px 0px -40px;
    padding: 0px 30px 0px 40px;
    transition: 0.2s ease;
}

.categories-filter {
    margin: auto 0px auto auto;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    transition: 0.2s ease;
}

.expandable {
    margin: auto -5px auto 0px;
    transform: rotate(0deg) translateX(0px);
    transition: 0.2s ease;
    height: 20px;
    cursor: pointer;
    fill: #ff854f;
}

.expandable:hover {
    fill: #ff854f!important;
}

.label-actual-text {
    margin: 0px;
}

.categories-filter-label {
    width: 100%;
    cursor: pointer;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.label-text-0 {
    font-weight: 700;
}

.specific-categories-0 {
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
    margin-bottom: 20px;
    padding: 10px 30px 10px 40px;
}

.all-categories-box {
    padding-bottom: 20px;
}

.apply-changes {
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #ff854f;
}

.categories-filter:checked {
	background-color: #ff854f;
	border: 1px solid #ff854f;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #ff854f;
    width: 8px;
    height: 8px;
    border-radius: 3px;
}

.categories-filter:focus {
    outline: none;
}

.search-results {
    margin-left: 2.5vw;
    margin-top: 40px;
    width: 67.5vw;
}

.no-search-result {
    text-align: center;
    margin-top: 20px;
}

.item {
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    min-height: 150px;
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.item:hover {
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.6);
}

.item-images {
    /* background-image: url("../../../static/images/nemo.jpg"); */
    object-fit: cover;
    width: 200px;
    margin: 40px 0px 40px 40px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.item-text {
    margin: 40px 0px 40px 40px;
    padding-right: 40px;
    width: 100%;
}

.item-name {
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.item-price {
    font-weight: 500;
    color: #ff854f;
    font-size: 1.125rem;
    margin: 5px 0px 5px 0px;
}

.item-price-not-discounted{
    color: black!important;
}

.out-of-stock {
    color: red!important;
}

.item-description {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

@media (max-width: 1250px) {

    .search-content {
        flex-direction: column;
    }

    .search-results, .categories-options, .search-bar-search-page {
        width: 90vw;
        margin-left: 5vw;
    }

}

@media (max-width: 700px) {

    .item {
        flex-direction: column;
    }

    .item-text {
        margin-top: 0px;
    }

    .item-name, .item-price, .item-description {
        padding-right: 40px;
    }

}